<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>List of cupcakes</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ"
      crossorigin="anonymous"
    />
    <script
      defer
      src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"
    ></script>
    <script
      defer
      src="https://code.jquery.com/jquery-3.6.4.min.js"
      integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8="
      crossorigin="anonymous"
    ></script>
    <script defer src="/static/appy.js"></script>
  </head>
  <body>
    <div>
      <ul class="list text-decoration-none"></ul>
    </div>
    <main class="col-md-6 d-flex justify-content-start border m-5">
      <form class="cupcake-form d-flex flex-column gap-4 col-md-4">
        <label for="flavor"
          >Flavor:
          <input type="text" name="flavor" id="flavor" required />
        </label>
        <label for="size"
          >Size:
          <input type="text" name="size" id="size" required />
        </label>
        <label for="rating"
          >Rating:
          <input type="text" name="rating" id="rating" />
        </label>
        <label for="image"
          >Imge URL:
          <input type="text" name="image" id="image" />
        </label>
        <button class="btn btn-outline-success btn-sm" type="submit">
          Submit
        </button>
        <a class="btn btn-sm btn-secondary" href="#" role="button">Cancel</a>
      </form>
    </main>
  </body>
</html>
